.mountify__header {
  padding: 1rem 0;
  padding-bottom: 0vw;
}

.mountify__header-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  margin-bottom: 8vw;
  padding: 0 1rem;
}

.app__header-title {
  font-size: calc(1.2rem + 5vw);
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}

.mountify__header-contents button {
  font-size: calc(0.8rem + 2vw);
  font-weight: 600;
  padding: 0.5rem 1rem;
}
