.mountify__header {
  padding: 1rem 0;
}

.mountify__header-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 1rem;
}

@media screen and (min-width: 480px) {
  .mountify__header-contents {
    padding: 1rem 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .mountify__header {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .mountify__header-contents {
    padding: 1rem 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .mountify__header-contents {
    padding-right: 5vw;
    padding-left: 14vw;
  }
}
