/* Background Gradients */
.gradient-bg {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255) 10%,
    var(--cream-wall-color) 55%,
    var(--cream-wall-color) 100%
  );
}

.secondary_gradient-bg {
  background: var(--black-gradient-color);
}

/* Facebook Text Background */
.facebookTxt-bg {
  background: linear-gradient(90deg, rgb(25, 25, 208) 0%, rgb(4, 47, 146) 85%);
}

/* Custom Button */
.custom_button {
  background: var(--blue-gradient-color);
  padding: var(--button-padding-s);
  border-radius: var(--border-radius-medium);
  color: white;
  cursor: pointer;
}

.custom_button:hover {
  background: rgb(28, 139, 199);
}

.custom__containerBox {
  background: var(--black-gradient-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Increase box shadow for better visibility */
  border-radius: 1.5rem; /* Adjust border radius */
  padding: 2.5rem 4rem;
}
/* Main Headings */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 0.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
h5 {
  font-size: 1rem;
  font-size: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}

p {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1200px) {
  .gradient-bg {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255) 10%,
      var(--cream-wall-color) 45%,
      var(--cream-wall-color) 100%
    );
  }
}

@media screen and (min-width: 2050px) {
  .gradient-bg {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255) 10%,
      var(--cream-wall-color) 37.5%,
      var(--cream-wall-color) 100%
    );
  }
}
