/* GLOBAL CSS
  - Reserved for styles that apply across the entire project.
  - CSS Resets, Typograph, Button Style, Link Style, other base styles.
  - Might have variables, utility classes, basic styles for html elements.
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: unset;
  background-color: unset;
  border: unset;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* Root Variables */
:root {
  /* Color Scheme */
  --creamWall-color-: rgba(255, 246, 211, 1);

  --darkBlue-color-: rgba(39, 101, 129, 1);
  --lightBlue-color-: rgba(8, 136, 228, 1);
  --blue-gradient-color-: linear-gradient(
    90deg,
    rgb(86, 86, 225),
    rgb(5, 142, 163)
  );

  --black-gradient-color-: linear-gradient(
    -25deg,
    rgb(90, 90, 90) 0%,
    rgba(0, 0, 0, 1) 58%
  );

  /* TypoGraph Scheme */
  --font-size-smallScreen-base-: 1.25rem;
  --font-size-smallScreen-sml-: 1.25rem;

  /* Spacing Scheme */
  --margin-xxs-: 0.25rem;
  --margin-xs-: 0.5rem;
  --margin-s-: 0.75rem;
  --margin-m-: 1rem;
  --margin-l-: 1.25rem;
  --margin-xl-: 1.75rem;
  --margin-xxl-: 2.5rem;

  /* Media Query Scheme */
  --breakpoint-sm-: 480px;
  --breakpoint-md-: 768px;
  --breakpoint-lg-: 1024px;

  /* Button Padding */
  --button-padding-s-: 0.5rem 1rem;
}

/* Font Styles */
.suse {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* 
For Mobile Devices – 320px — 480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
TV and Extra Large Screens – 1201px and more.
*/
