.mountify__header-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.app__header-title span {
  font-size: 12vw;
  font-weight: 600;
}
.app__header-title {
  line-height: 1;
  font-size: 12vw;
  font-weight: 600;
}

/* Basic styles for project cards */
.mountify__header-projects {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  overflow-x: auto;
  width: 100%;
}

.mountify__header-project_card {
  width: 175px;
  height: 250px;
  background-color: grey;
  margin: 0 1rem;
  display: inline-block;
  flex-shrink: 0;
}

