.app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.app__header-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.app__header-title {
  background: var(--darkBlue-gradient-);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0.2rem;
  font-size: 3.4rem;
}

.app__header-text {
  font-size: 1.6rem;
}

.app__header-button {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  padding: 0.4rem 0.6rem;
}

.app__header-image {
  padding: 1rem;
}
.app__header-image img {
  max-width: 100%;
  width: 420px;
}
