/* Define CSS variables for colors and spacing */
:root {
  --background-color: var(--black-gradient-color-);
  --input-background: var(--blackish-gradient-color-);
  --input-border-color: #1039ff52;
  --placeholder-color: #bcbcbc;
  --text-color: white;
  --font-size-large: 6vh;
  --font-size-medium: 1.5rem;
  --input-padding: 1rem 10px;
  --textarea-height: 25vh;
  --gap: 1rem;
  --border-radius: 0.25rem;
  --border-radius-large: 1rem;
}

/* General responsive layout */
.mountify__contactForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10vh calc(4vw + 1rem);
  padding-bottom: 2vh;
  z-index: 100000;
  overflow: auto;
}

/* Title styling */
.mountify__contactForm-title {
  font-size: var(--font-size-large); /* Responsive font size */
  margin-bottom: 2rem;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

/* Input and textarea styling */
input,
textarea {
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  width: 100%;
  background: var(--input-background);
  box-shadow: -6px 0px 0px var(--input-border-color);
  border-bottom-right-radius: var(--border-radius-large);
  padding: var(--input-padding);
}

textarea {
  height: var(--textarea-height); /* Responsive height for textarea */
}

/* Button styling */
.mountify__contactForm-button {
  font-size: var(--font-size-medium);
  background: var(
    --blue-gradient-color-
  ); /* Ensure button styling consistency */
  padding: 0.5rem 1rem; /* Adjust padding if needed */
  border: none;
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
}

.mountify__contactForm-button:hover {
  background: rgb(28, 139, 199); /* Hover effect for the button */
}

/* Placeholder styling */
.mountify__contactForm input::placeholder,
.mountify__contactForm textarea::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
  letter-spacing: 1px;
  font-weight: 500;
}

/* Close button styling */
.mountify__contactForm-close_button {
  position: absolute;
  top: 2rem;
  right: 1.2rem;
}
