/* Navbar Styles */
.mountify__navbar {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  width: 100%;
  z-index: 1000;
}

.mountify__navbar-logo img {
  width: 120px; /* Adjust logo size */
}

.mountify__navbar-mobileMenu {
  display: flex;
}

.mobileMenu-icon {
  font-size: 1.5rem;
  margin-left: 1rem;
}

/* Mobile Menu Container */
.mountify__navbar-mobileMenu_list-container {
  position: fixed;
  text-align: center;
  color: white;
  z-index: 1;
  top: 6rem; /* Adjust top position */
  right: -100vw; /* Start off-screen */
  transition: right var(--transition-ease);
}

.mountify__navbar-mobileMenu_list li {
  font-size: 1.5rem; /* Adjust font size for menu items */
  padding: 0.75rem 0;
}
.mountify__navbar-mobileMenu_list li:last-child {
  font-size: 1.25rem;
  /* margin-top: 1rem; */
}

.showMenu {
  right: 1rem; /* Slide in to be visible on the screen */
}

.hideMenu {
  right: -100vw; /* Hide off-screen to the right */
}

.mountify__navbar-mobileMenu_button-outside {
  display: none;
  font-weight: 600;
  margin-left: 1rem;
}

.mountify__navbar-menu_list {
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.mountify__navbar-menu_list li {
  padding: 0 0.5rem;
  font-weight: 600;
}

/* Responsive Styles */
@media screen and (min-width: 480px) {
  .mountify__navbar {
    padding: 1.5rem 2.5rem; /* Increase padding for larger screens */
  }
  .mountify__navbar-logo img {
    width: 150px; /* Adjust logo size */
  }

  .mountify__navbar-mobileMenu_button-outside {
    display: block;
  }

  .mountify__navbar-mobileMenu_button-inside {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mountify__navbar-logo img {
    width: 180px; /* Adjust logo size */
  }

  .mountify__navbar {
    padding: 1.5rem 2rem; /* Adjust padding for larger screens */
  }

  .mountify__navbar-mobileMenu button {
    display: none;
  }

  .mountify__navbar-menu_list {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .mountify__navbar {
    padding: 1.5rem 4rem; /* Adjust padding for larger screens */
  }

  .mountify__navbar-logo img {
    width: 240px; /* Adjust logo size */
  }

  .mountify__navbar-menu_list li {
    font-size: 1.25rem;
    padding: 0 1rem;
  }

  .mountify__navbar-mobileMenu_button-outside {
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .mountify__navbar {
    max-width: 1400px;
    padding: 1.5rem 6rem; /* Adjust padding for very large screens */
    margin: 0 auto;
  }

  .mountify__navbar-menu_list li,
  .mountify__navbar-mobileMenu_button-outside {
    font-size: 1.5rem;
  }
}
